@import '../../styles/main.scss';

.ActionButtons {
  align-self: center;

  &>button {
    &:first-of-type {
      @include media-breakpoint-up(sm) {
        margin-right: 16px;
      }
    }
  }
}

.LeaseBtn {
  align-self: center;
}

.Text {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin-top: 8px;
  text-transform: capitalize;

  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
}