@import '../../styles/main.scss';

.Container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 40px;

  @include media-breakpoint-up(xl) {
    padding: 0;
    padding-bottom: 40px;
  }
}

.SeeMoreBooks {
  display: flex;
  flex-flow: column;
  align-items: center;

  a {

    &:link,
    &:visited {
      color: #4169e1;
      font-weight: 500;
      margin-top: 12px;
      border-bottom: 2px solid transparent;
      transition: all 0.2s ease;

      @include media-breakpoint-up(sm) {
        font-size: 18px;
      }

      @include media-breakpoint-up(md) {
        margin-top: 20px;
      }

      @include media-breakpoint-up(xl) {
        margin-top: 24px;
        font-size: 20px;
      }
    }

    &:hover,
    &:active {
      color: #1e47c0;
      border-bottom: 2px solid #1e47c0;
    }
  }
}

.Text {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.2px;

  @include media-breakpoint-up(sm) {
    font-size: 20px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
}