@import '../../styles/main.scss';

.UserName {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f4f8f7;
  margin-bottom: 24px;

  .UserIcon {
    color: #a1a6a4;
    height: 20px;
    width: 20px;
    flex: 0 1 20%;
  }
}

.UserNameInput {
  border: none;
  background-color: #f4f8f7;
  padding: 20px;
  flex: 0 1 80%;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 15px;
  letter-spacing: 0.3px;

  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }

  &::placeholder {
    font-family: inherit;
    color: #a1a6a4;
  }

  &:focus {
    outline: none;
  }
}