@import '../../styles/main.scss';

.Password {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f4f8f7;
  margin-bottom: 24px;
}

.PasswordIcon {
  color: #a1a6a4;
  flex: 0 1 20%;
  height: 18px;
  width: 18px;
}

.PasswordInput {
  border: none;
  background-color: #f4f8f7;
  padding: 20px;
  flex: 0 1 80%;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 15px;
  letter-spacing: 0.3px;

  @include media-breakpoint-up(sm) {
    font-size: 16px;
  }

  &::placeholder {
    font-family: inherit;
    color: #a1a6a4;
  }

  &:focus {
    outline: none;
  }
}

.EyeIcon {
  color: #a1a6a4;
  position: absolute;
  right: 36px;
  height: 22px;
  width: 22px;
}