@import './colors.scss';

$container-max-width: 1140px;
$color-primary: $color-teal;
$color-secondary: $color-blue;
$navigation-background: linear-gradient(90.22deg, #8f58d3 -.35%, #535bd2 48.78%, #105fd0);
$mobile-nav-background: linear-gradient(197.57deg, #8f58d3 -2.57%, #515bd2 50.82%, #105fd0 105.33%);

$card-width-xs: 320px;
$card-width-sm: 334px;
$card-width-lg: 300px;
$card-width-xl: 334px;