@import './colors.scss';

$container-max-width: 1140px;
$color-primary: $color-teal;
$color-secondary: $color-blue;
$color-tertiary: $color-orange;

$card-width-xs: 320px;
$card-width-sm: 334px;
$card-width-lg: 300px;
$card-width-xl: 334px;